
Akintar/Saved/Logs/Akintar.log
Akintar/Saved/Logs/Akintar-backup-2020.10.07-23.27.59.log
Akintar/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Akintar/Saved/AutoScreenshot.png
Akintar/Intermediate/CachedAssetRegistry.bin
